.footer.container-fluid {
    border-top: 1px solid #000000;
    background-color: #70DAC7;
    margin-top: 50px;
    padding: 40px;
}

.contactoo {
    padding: 20px;
    font-weight: bold;
    color: #000000;
    transition-duration: 2s;
    transition-property: all;
}

p {
    margin-top: 20px;
}