header {
    display: flex;
    background-color: #70DAC7;
    width: 100%;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid;
    font-size: 16px;
}

.logo-container, .nav-links {
    display: flex;
}

.logo-container {
    align-items: center;
    padding: 20px;
    flex: 1;
}

.logo {
    font-weight: bold;
    margin: 10px;
}

nav,
.menu {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

nav ul li:hover {
    color: #000000;
}

.dropdown {
    display: none;
}